footer {
  padding: 2rem;
  border-top: 1px #cccccc solid;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  list-style: none;
}

footer .footer li {
  display: inline-block;
}
